body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.section-heading-spacer {
    border-width: 2px 0 0;
    border-color: #5a5a5a;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: url('http://placehold.it/800x600?text=+') no-repeat center center;
    background-size: cover;
}

.intro-message {

    font-style: italic;
    color: #676767;
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    color: #454545;
    margin: 0;
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-apps {
    padding: 50px;
    background-color: black;
}

.content-section-apps a {
    text-decoration: none;
    color: white;
}

.content-section {
    padding: 50px 0;
}

.content-section p {
    color: #adadad;
}

.section-heading {
    margin-bottom: 30px;
}

.footer {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8a8a8a;
}

.footer img {
    margin-right: 20px;
}

.footer-title {
    font-size: 25px;
}

.content-body {
    margin-top: 10%;
}

.title-links {
    color: #41c7d6;
    font-size: 20px;
}

.title-links-spacer {
    width: 2px;
    border-width: 25px 0;
    border-color: #797979;
    margin: 0 20px 0 20px;
}