.content-section-apps {
    padding: 50px;
    background-color: black;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content:flex-end;
    justify-content: flex-end;
}

.content-section-apps .app-links {
    display: -webkit-flex;
    display: flex;
}

.content-section-apps .site-url {
    display: block;
    float: left;
    width: 100%;
}

.content-section-apps .app-links img {
    float: left;
}

.content-section-apps a {
    text-decoration: none;
    color: white;
}

.app-link-container {
    background: #fff;
    color: #000;
    border-radius: 25px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: lighter;
    padding: 5px;
    margin: 5px;
    width: 160px;
}

.app-link-container img {
    height: 35px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

@media(max-width:640px) {
    .content-section-apps .app-links {
        display: block;
    }
}

@media(max-width:440px) {
    .app-links,
    .app-link-container,
    .content-section-apps {
        width: 100%;
        padding: 10px;
    }

    .content-section-apps .site-url {
        display: none;
    }

    .content-section-apps .app-links img {
        height: 100%;
    }
}