.footer {
    padding: 50px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.footer,
.footerbar {
    color: #8a8a8a;
    font-size: 20px;
    font-weight: 400;
}

.footer img {
    margin-right: 20px;
}

.footer-title {
    font-size: 25px;
}

.footerbar {
    background-color: #ccc;
    padding: 15px;
}

ul.content-section-footer {
    margin: 0 auto;
    padding: 0;
}

ul.content-section-footer li {
    border-right: 1px solid;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 2px;
}

ul.content-section-footer li:nth-child(3),
ul.content-section-footer li:nth-child(4) {
    border: none;
}

.content-footer {
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 767px) {
    .footer,
    .footerbar {
        text-align: center;
    }

    .content-footer {
        margin: 10px auto 0 auto;
    }
}
